.postPreview {
  display: flex;
  // flex-wrap: wrap;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
}

.image {
  width: 15rem;

  img {
    max-width: 100%;
  }
}

.hovered {
  .content {
    transform: translateX(-0.4rem);
    background: linear-gradient(45deg, #30bee8, #16416d);
    color: white;
  }
}

.content {
  flex: 1;
  background-color: white;
  padding: 1.5rem;
  margin-left: -10rem;
  position: relative;
  transition: transform 200ms;

  @media screen and (min-width: 768px) {
    margin-left: -3rem;
  }

  h2 {
    margin: 0 0 0.5rem;
  }

  p {
    margin: 0;
    font-size: 0.8rem;
  }
}

.linkSpanner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
